html {
    background-color: #EEEE9A;
    font-family: 'Open sans';
    font-size: 10px;
}

h1 {
    margin: 0 10px;
    padding: 20px 10px 20px 20px;
    border: solid black 6px;
    font-size: 60px;
    text-shadow: 6px 6px 6px black;
    /*text-align: center;*/
}


p {
    border: solid aqua;
    padding: 30px 30px 30px 30px;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    border-radius: 6px black;
    background-color: aliceblue;
}

th {
    margin: 10px auto;
    padding: 10px 20px 10px 20px;
    text-align: center;
    color: gray;
}

img {
    display: block;
    margin: 0 auto;
}